<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="aboutresponsive.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="part1"><div class="logo">
                <img src="./images/logo.png" alt="/">
            </div></div>
            <div class="part2">
                <ul>
                    <li id="#"><a href="/">HOME</li></a>
                    <li id="#"><a href="#team">CONTACT</li></a>
                </ul>
            </div>
        </div>
        <div class="text1">
            <p>ABOUT US</p> 
        </div>
    </div>
    <div class="page">
        <div class="heading">
            <h2>A Modern event Planner's Approach</h2>
        </div>
        <div class="txt">
            <p>We offer a numerous range of services from exploring the most unique destinations that best fit the nature of your dream wedding.</p>
        </div>
        <div class="tile1">
            <div class="eventimg">
                <img src="./images/unsplash_7O422yG_b80.png" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>Corporate Events:</span> This category includes conferences, seminars, trade shows, product launches, corporate meetings, team-building activities, and corporate retreats.</li>
                <li><span>Social Events:</span> These events are typically private or personal in nature, such as weddings, engagement parties, anniversaries, birthdays, baby showers, and family reunions.</li>
            </div>
        </div>
        <hr>
        <div class="tile2">
            <div class="eventtxt1">
                    <li><span>Non-Profit and Charity Events:</span> Fundraising galas, charity auctions, benefit concerts, and community events organized by non-profit organizations fall into this category.</li>
                    <li><span>Virtual and Hybrid Events: </span> With the advent of technology, event management companies also handle virtual and hybrid events that combine in-person and online elements, such as virtual conferences, webinars, and digital trade shows.</li>
            </div>
            <div class="eventimg1">
                <img src="./images/unsplash_bzdhc5b3Bxs.png" alt="\">
            </div>
        </div>
        <hr>
        <div class="tile1">
            <div class="eventimg">
                <img src="./images/unsplash_NYrVisodQ2M.png" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>Academic and Educational Events:</span> Conferences, workshops, seminars, and academic symposiums organized by educational institutions, research organizations, or professional associations.</li>
                <li><span>Entertainment Events:</span> Music concerts, live performances, theater shows, film premieres, award ceremonies, and celebrity events.</li>
            </div>
        </div>
    </div>
    <div class="team" id="team">
        <div class="heading">
            <h2>OUR TEAM</h2>
        </div>
        <div class="member">
            <div class="img1">
            </div>
            <div class="details">
                <h4>ASHUTOSH KUMAR</h4>
                <p>Email- <a href="mailto:ashuvinayak1508@gmail.com">ashuvinayak1508@gmail.com</a></p>
                <p>Contact Number- 9315555935 </p>
                <p>linkedin- <a href="https://www.linkedin.com/in/ashutosh-kumar-dev/">ASHUTOSH KUMAR</a></p>
                <p>Git Hub- <a href="https://github.com/ASHUVINAYAK1">ASHUVINAYAK1</a></p>
            </div>
        </div>
        <div class="member">
            <div class="img2">
            </div>
            <div class="details">
                <h4>SHUBHAM JHA</h4>
                <p>Email- <a href="mailto:sjha47198@gmail.com">sjha47198@gmail.com</a></p>
                <p>Contact Number- 6205473554 </p>
                <p>linkedin- <a href="https://www.linkedin.com/in/subham-jha-6112a7225/">SHUBHAM JHA</a></p>
                <p>Git Hub- <a href="https://github.com/subhamjha16092002">subhamjha16092002</a></p>
            </div>
        </div>
        <div class="member">
            <div class="img3">
            </div>
            <div class="details">
                <h4>SAVHAR VERMA</h4>
                <p>Email- <a href="mailto:savharverma@gmail.com">savharverma@gmail.com</a></p>
                <p>Contact Number- 7250504110 </p>
                <p>linkedin- <a href="https://www.linkedin.com/in/savhar-verma/">SAVHAR VERMA</a></p>
                <p>Git Hub- <a href="https://github.com/savhar28">SAVHAR28</a></p>
            </div>
        </div>
        <div class="member">
            <div class="img4">
            </div>
            <div class="details">
                <h4>DIVYAM JHA</h4>
                <p>Email- <a href="mailto:divyamjha007@gmail.com">divyamjha007@gmail.com</a></p>
                <p>Contact Number- 6205565585 </p>
                <p>linkedin- <a href="https://www.linkedin.com/in/divyam-jha-127b9b271/">DIVYAM JHA</a></p>
                <p>Git Hub- <a href="https://github.com/Divyamjha007">DIVYAMJHA007</a></p>
            </div>
        </div>
    </div>
</body>
</html>