<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="aboutresponsive.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="part1"><div class="logo">
                <img src="./images/logo.png" alt="/">
            </div></div>
            <div class="part2">
                <ul>
                    <li id="#"><a href="/">HOME</li></a>
                    <li id="#"><a href="#team">CONTACT</li></a>
                </ul>
            </div>
        </div>
        <div class="text1">
            <p>CORPORATE EVENTS</p> 
        </div>
    </div>
    <div class="page">
        <div class="heading">
            <h2>A Modern event Planner's Approach</h2>
        </div>
        <div class="txt">
            <p></p>
        </div>
        <div class="tile1">
            <div class="eventimg">
                <img src="./images/unsplash_7O422yG_b80.png" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>Corporate Events:</span> This category includes conferences, seminars, trade shows, product launches, corporate meetings, team-building activities, and corporate retreats.</li>
                <li>Elevate your corporate events with seamless planning and execution. Our event handling experts ensure a flawless experience, from conferences to team-building retreats. Let us take care of every detail, so you can focus on what matters most – your business goals. Make your corporate events unforgettable with us..</li>
            </div>
        </div>
</body>
</html>